<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.nbs.jiaxiao.mapper.SellerMapper">
	<resultMap id="sellerResultMap" type="com.nbs.jiaxiao.domain.po.Seller">
  		<result property="id" column="ID"/>
  		<result property="openId" column="OPEN_ID"/>
  		<result property="username" column="USERNAME"/>
  		<result property="mobile" column="MOBILE"/>
  		<result property="level" column="LEVEL"/>
  		<result property="parentId" column="PARENT_ID"/>
  		<result property="status" column="STATUS"/>
  		<result property="type" column="TYPE"/>
  		<result property="createdTime" column="CREATED_TIME"/>
  		<result property="modifiedTime" column="MODIFIED_TIME"/>
  		<result property="lastUpdateNo" column="LAST_UPDATE_NO"/>
  		<result property="lastUpdateNoUserId" column="LAST_UPDATE_NO_USER_ID"/>
	</resultMap>

	<sql id="commonSelect">
		ID, OPEN_ID, USERNAME, MOBILE, LEVEL, PARENT_ID, STATUS, TYPE, CREATED_TIME, MODIFIED_TIME, LAST_UPDATE_NO, LAST_UPDATE_NO_USER_ID
	</sql>
	
	<sql id="whereCondition">
		WHERE DELETED = 0 
	 			<if test="id != null"> AND ID = #{id}</if> 
	 			<if test="openId != null"> AND OPEN_ID = #{openId}</if> 
	 			<if test="username != null"> AND USERNAME = #{username}</if> 
	 			<if test="mobile != null"> AND MOBILE = #{mobile}</if> 
	 			<if test="level != null"> AND LEVEL = #{level}</if> 
	 			<if test="parentId != null"> AND PARENT_ID = #{parentId}</if> 
	 			<if test="status != null"> AND STATUS = #{status}</if> 
	 			<if test="type != null"> AND TYPE = #{type}</if> 
	 			<if test="param.createdTimeStart != null"> AND CREATED_TIME <![CDATA[>=]]> #{param.createdTimeStart} </if> 
	 			<if test="param.createdTimeEnd != null"> AND CREATED_TIME <![CDATA[<=]]> #{param.createdTimeEnd} </if>
	 			<if test="param.modifiedTimeStart != null"> AND MODIFIED_TIME <![CDATA[>=]]> #{param.modifiedTimeStart} </if> 
	 			<if test="param.modifiedTimeEnd != null"> AND MODIFIED_TIME <![CDATA[<=]]> #{param.modifiedTimeEnd} </if>
				<if test="lastUpdateNo != null"> AND LAST_UPDATE_NO = #{lastUpdateNo}</if> 
	 			<if test="param.lastUpdateNoStart != null"> AND LAST_UPDATE_NO <![CDATA[>=]]> #{param.lastUpdateNoStart} </if> 
	 			<if test="param.lastUpdateNoEnd != null"> AND LAST_UPDATE_NO <![CDATA[<=]]> #{param.lastUpdateNoEnd} </if>
	 			<if test="lastUpdateNoUserId != null"> AND LAST_UPDATE_NO_USER_ID = #{lastUpdateNoUserId}</if> 
	</sql>
	
	<insert id="insert" useGeneratedKeys="true" keyProperty="id">
	 	INSERT  INTO  seller 
	 	<trim prefix="(" suffixOverrides="," suffix=")">
				<if test="id != null">ID,</if> 
				<if test="openId != null">OPEN_ID,</if> 
				<if test="username != null">USERNAME,</if> 
				<if test="mobile != null">MOBILE,</if> 
				<if test="level != null">LEVEL,</if> 
				<if test="parentId != null">PARENT_ID,</if> 
				<if test="status != null">STATUS,</if> 
				<if test="type != null">TYPE,</if> 
				<if test="createdTime != null">CREATED_TIME,</if> 
				<if test="modifiedTime != null">MODIFIED_TIME,</if> 
				<if test="lastUpdateNo != null">LAST_UPDATE_NO,</if> 
				<if test="lastUpdateNoUserId != null">LAST_UPDATE_NO_USER_ID,</if> 
	 	</trim>
		VALUES
		<trim prefix="(" suffixOverrides="," suffix=")">
			<if test="id != null">#{id},</if> 
			<if test="openId != null">#{openId},</if> 
			<if test="username != null">#{username},</if> 
			<if test="mobile != null">#{mobile},</if> 
			<if test="level != null">#{level},</if> 
			<if test="parentId != null">#{parentId},</if> 
			<if test="status != null">#{status},</if> 
			<if test="type != null">#{type},</if> 
			<if test="createdTime != null">#{createdTime},</if> 
			<if test="modifiedTime != null">#{modifiedTime},</if> 
			<if test="lastUpdateNo != null">#{lastUpdateNo},</if> 
			<if test="lastUpdateNoUserId != null">#{lastUpdateNoUserId},</if> 
		</trim>
	</insert>
	
	<update id="updateByPriKey">
		UPDATE   seller 
		<set>
				<if test="openId != null">OPEN_ID=#{openId},</if>
				<if test="username != null">USERNAME=#{username},</if>
				<if test="mobile != null">MOBILE=#{mobile},</if>
				<if test="level != null">LEVEL=#{level},</if>
				<if test="parentId != null">PARENT_ID=#{parentId},</if>
				<if test="status != null">STATUS=#{status},</if>
				<if test="type != null">TYPE=#{type},</if>
				<if test="createdTime != null">CREATED_TIME=#{createdTime},</if>
				<if test="modifiedTime != null">MODIFIED_TIME=#{modifiedTime},</if>
				LAST_UPDATE_NO = LAST_UPDATE_NO + 1,
				<if test="lastUpdateNoUserId != null">LAST_UPDATE_NO_USER_ID=#{lastUpdateNoUserId},</if>
    	</set>
    	WHERE ID = #{id}  <if test="lastUpdateNo != null"> AND LAST_UPDATE_NO = #{lastUpdateNo} </if>  AND DELETED = 0 
    </update>
	
	<update id="delete">
		UPDATE  seller SET DELETED = ID , LAST_UPDATE_NO = LAST_UPDATE_NO + 1  <include refid="whereCondition"/>
	</update>
	
	<update id="deleteByPriKey">
		UPDATE  seller SET DELETED = ID , LAST_UPDATE_NO = LAST_UPDATE_NO + 1  WHERE ID = #{id}  AND DELETED = 0 
	</update>
	
	<delete id="deleteActual">
		DELETE FROM seller <include refid="whereCondition"/>
	</delete>
	
	<delete id="deleteActualByPriKey">
		DELETE FROM seller WHERE ID = #{id}
	</delete>
	
	<delete id="clean">
		DELETE FROM seller WHERE ID > #{id} and DELETED != 0 
	</delete>
	
	<select id="selectByPriKey" resultMap="sellerResultMap">
		   SELECT   
		   <include refid="commonSelect" />
		   FROM   seller WHERE ID = #{id}
	</select>
	
	<select id="selectList" resultMap="sellerResultMap">
		   SELECT   
		   <include refid="commonSelect"/>
		   FROM   seller
		   <include refid="whereCondition"/> 
		   <if test="param.columnSort != null">ORDER BY ${param.columnSort} </if>  
		   <if test="param.columnSort == null">ORDER BY ID </if>   
		   <if test="param.limit != null">limit param.offset, param.limit </if>   
	</select>
	
	<select id="selectCount" resultType="long">
	 	SELECT  COUNT(1) CNT FROM   seller
		<include refid="whereCondition"/> 
	</select>
	
	<select id="exist" resultType="int">
	 	SELECT  ID FROM   seller
		<include refid="whereCondition"/> limit 1
	</select>
	
	<!-- customized code start -->
	<select id="selectAllInfo" resultType="com.nbs.jiaxiao.domain.vo.SellerInfo">
		select a.id, a.username, a.mobile, b.nick_name, b.head_img from seller as a left join user as b on a.open_id = b.open_id 
		where a.DELETED = 0 order by id
	</select>
	
	<select id="queryNotPayFeeSumInfo" resultType="com.nbs.jiaxiao.domain.vo.SellerInfo">
		SELECT a.seller_id as id, max(b.username) as username, max(b.mobile) as mobile, max(c.head_img) as head_img, sum(a.money) as total_money FROM commision_fee as a inner join seller as b on a.seller_id = b.id left join user as c on b.open_id = c.open_id  where a.status = 0 and a.deleted = 0 and b.deleted = 0 group by seller_id;
	</select>
	<!-- customized code end -->
</mapper>
