<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.nbs.jiaxiao.mapper.StudentMapper">
	<resultMap id="studentResultMap" type="com.nbs.jiaxiao.domain.po.Student">
  		<result property="id" column="ID"/>
  		<result property="openId" column="OPEN_ID"/>
  		<result property="username" column="USERNAME"/>
  		<result property="mobile" column="MOBILE" typeHandler="com.nbs.jiaxiao.component.CryptTypeHandler"/>
  		<result property="certNo" column="CERT_NO" typeHandler="com.nbs.jiaxiao.component.CryptTypeHandler"/>
  		<result property="driveType" column="DRIVE_TYPE"/>
  		<result property="totalFee" column="TOTAL_FEE"/>
  		<result property="signDate" column="SIGN_DATE"/>
  		<result property="sellId" column="SELL_ID"/>
  		<result property="stage" column="STAGE"/>
  		<result property="isArrearage" column="IS_ARREARAGE"/>
  		<result property="phase" column="PHASE"/>
  		<result property="remark" column="REMARK"/>
  		<result property="createdTime" column="CREATED_TIME"/>
  		<result property="modifiedTime" column="MODIFIED_TIME"/>
  		<result property="lastUpdateNo" column="LAST_UPDATE_NO"/>
  		<result property="lastUpdateNoUserId" column="LAST_UPDATE_NO_USER_ID"/>
	</resultMap>

	<sql id="commonSelect">
		ID, OPEN_ID, USERNAME, MOBILE, CERT_NO, DRIVE_TYPE, TOTAL_FEE, SIGN_DATE, SELL_ID, STAGE, IS_ARREARAGE, PHASE, REMARK, CREATED_TIME, MODIFIED_TIME, LAST_UPDATE_NO, LAST_UPDATE_NO_USER_ID
	</sql>
	
	<sql id="whereCondition">
		WHERE DELETED = 0 
	 			<if test="id != null"> AND ID = #{id}</if> 
	 			<if test="openId != null"> AND OPEN_ID = #{openId}</if> 
	 			<if test="username != null"> AND USERNAME = #{username}</if> 
	 			<if test="mobile != null"> AND MOBILE = #{mobile, typeHandler=com.nbs.jiaxiao.component.CryptTypeHandler}</if> 
	 			<if test="certNo != null"> AND CERT_NO = #{certNo, typeHandler=com.nbs.jiaxiao.component.CryptTypeHandler}</if> 
	 			<if test="driveType != null"> AND DRIVE_TYPE = #{driveType}</if> 
	 			<if test="totalFee != null"> AND TOTAL_FEE = #{totalFee}</if> 
	 			<if test="signDate != null"> AND SIGN_DATE = #{signDate}</if> 
	 			<if test="sellId != null"> AND SELL_ID = #{sellId}</if> 
	 			<if test="stage != null"> AND STAGE = #{stage}</if> 
	 			<if test="isArrearage != null"> AND IS_ARREARAGE = #{isArrearage}</if> 
	 			<if test="phase != null"> AND PHASE = #{phase}</if> 
	 			<if test="remark != null"> AND REMARK = #{remark}</if> 
	 			<if test="param.createdTimeStart != null"> AND CREATED_TIME <![CDATA[>=]]> #{param.createdTimeStart} </if> 
	 			<if test="param.createdTimeEnd != null"> AND CREATED_TIME <![CDATA[<=]]> #{param.createdTimeEnd} </if>
	 			<if test="param.modifiedTimeStart != null"> AND MODIFIED_TIME <![CDATA[>=]]> #{param.modifiedTimeStart} </if> 
	 			<if test="param.modifiedTimeEnd != null"> AND MODIFIED_TIME <![CDATA[<=]]> #{param.modifiedTimeEnd} </if>
				<if test="lastUpdateNo != null"> AND LAST_UPDATE_NO = #{lastUpdateNo}</if> 
	 			<if test="param.lastUpdateNoStart != null"> AND LAST_UPDATE_NO <![CDATA[>=]]> #{param.lastUpdateNoStart} </if> 
	 			<if test="param.lastUpdateNoEnd != null"> AND LAST_UPDATE_NO <![CDATA[<=]]> #{param.lastUpdateNoEnd} </if>
	 			<if test="lastUpdateNoUserId != null"> AND LAST_UPDATE_NO_USER_ID = #{lastUpdateNoUserId}</if> 
	</sql>
	
	<insert id="insert" useGeneratedKeys="true" keyProperty="id">
	 	INSERT  INTO  student 
	 	<trim prefix="(" suffixOverrides="," suffix=")">
				<if test="id != null">ID,</if> 
				<if test="openId != null">OPEN_ID,</if> 
				<if test="username != null">USERNAME,</if> 
				<if test="mobile != null">MOBILE,</if> 
				<if test="certNo != null">CERT_NO,</if> 
				<if test="driveType != null">DRIVE_TYPE,</if> 
				<if test="totalFee != null">TOTAL_FEE,</if> 
				<if test="signDate != null">SIGN_DATE,</if> 
				<if test="sellId != null">SELL_ID,</if> 
				<if test="stage != null">STAGE,</if> 
				<if test="isArrearage != null">IS_ARREARAGE,</if> 
				<if test="phase != null">PHASE,</if> 
				<if test="remark != null">REMARK,</if> 
				<if test="createdTime != null">CREATED_TIME,</if> 
				<if test="modifiedTime != null">MODIFIED_TIME,</if> 
				<if test="lastUpdateNo != null">LAST_UPDATE_NO,</if> 
				<if test="lastUpdateNoUserId != null">LAST_UPDATE_NO_USER_ID,</if> 
	 	</trim>
		VALUES
		<trim prefix="(" suffixOverrides="," suffix=")">
			<if test="id != null">#{id},</if> 
			<if test="openId != null">#{openId},</if> 
			<if test="username != null">#{username},</if> 
			<if test="mobile != null">#{mobile, typeHandler=com.nbs.jiaxiao.component.CryptTypeHandler},</if> 
			<if test="certNo != null">#{certNo, typeHandler=com.nbs.jiaxiao.component.CryptTypeHandler},</if> 
			<if test="driveType != null">#{driveType},</if> 
			<if test="totalFee != null">#{totalFee},</if> 
			<if test="signDate != null">#{signDate},</if> 
			<if test="sellId != null">#{sellId},</if> 
			<if test="stage != null">#{stage},</if> 
			<if test="isArrearage != null">#{isArrearage},</if> 
			<if test="phase != null">#{phase},</if> 
			<if test="remark != null">#{remark},</if> 
			<if test="createdTime != null">#{createdTime},</if> 
			<if test="modifiedTime != null">#{modifiedTime},</if> 
			<if test="lastUpdateNo != null">#{lastUpdateNo},</if> 
			<if test="lastUpdateNoUserId != null">#{lastUpdateNoUserId},</if> 
		</trim>
	</insert>
	
	<update id="updateByPriKey">
		UPDATE   student 
		<set>
				<if test="openId != null">OPEN_ID=#{openId},</if>
				<if test="username != null">USERNAME=#{username},</if>
				<if test="mobile != null">MOBILE=#{mobile, typeHandler=com.nbs.jiaxiao.component.CryptTypeHandler},</if>
				<if test="certNo != null">CERT_NO=#{certNo, typeHandler=com.nbs.jiaxiao.component.CryptTypeHandler},</if>
				<if test="driveType != null">DRIVE_TYPE=#{driveType},</if>
				<if test="totalFee != null">TOTAL_FEE=#{totalFee},</if>
				<if test="signDate != null">SIGN_DATE=#{signDate},</if>
				<if test="sellId != null">SELL_ID=#{sellId},</if>
				<if test="stage != null">STAGE=#{stage},</if>
				<if test="isArrearage != null">IS_ARREARAGE=#{isArrearage},</if>
				<if test="phase != null">PHASE=#{phase},</if>
				<if test="remark != null">REMARK=#{remark},</if>
				<if test="createdTime != null">CREATED_TIME=#{createdTime},</if>
				<if test="modifiedTime != null">MODIFIED_TIME=#{modifiedTime},</if>
				LAST_UPDATE_NO = LAST_UPDATE_NO + 1,
				<if test="lastUpdateNoUserId != null">LAST_UPDATE_NO_USER_ID=#{lastUpdateNoUserId},</if>
    	</set>
    	WHERE ID = #{id}  <if test="lastUpdateNo != null"> AND LAST_UPDATE_NO = #{lastUpdateNo} </if>  AND DELETED = 0 
    </update>
	
	<update id="delete">
		UPDATE  student SET DELETED = ID , LAST_UPDATE_NO = LAST_UPDATE_NO + 1  <include refid="whereCondition"/>
	</update>
	
	<update id="deleteByPriKey">
		UPDATE  student SET DELETED = ID , LAST_UPDATE_NO = LAST_UPDATE_NO + 1  WHERE ID = #{id}  AND DELETED = 0 
	</update>
	
	<delete id="deleteActual">
		DELETE FROM student <include refid="whereCondition"/>
	</delete>
	
	<delete id="deleteActualByPriKey">
		DELETE FROM student WHERE ID = #{id}
	</delete>
	
	<delete id="clean">
		DELETE FROM student WHERE ID > #{id} and DELETED != 0 
	</delete>
	
	<select id="selectByPriKey" resultMap="studentResultMap">
		   SELECT   
		   <include refid="commonSelect" />
		   FROM   student WHERE ID = #{id}
	</select>
	
	<select id="selectList" resultMap="studentResultMap">
		   SELECT   
		   <include refid="commonSelect"/>
		   FROM   student
		   <include refid="whereCondition"/> 
		   <if test="param.columnSort != null">ORDER BY ${param.columnSort} </if>  
		   <if test="param.columnSort == null">ORDER BY ID </if>   
	</select>
	
	<select id="selectCount" resultType="long">
	 	SELECT  COUNT(1) CNT FROM   student
		<include refid="whereCondition"/> 
	</select>
	
	<select id="exist" resultType="int">
	 	SELECT  ID FROM   student
		<include refid="whereCondition"/> limit 1
	</select>
	
	<!-- customized code start -->
	
	<!-- customized code end -->
</mapper>
