<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
	xmlns:context="http://www.springframework.org/schema/context" 
	xmlns:mvc="http://www.springframework.org/schema/mvc" 
	xmlns:aop="http://www.springframework.org/schema/aop" 
	xsi:schemaLocation="
	http://www.springframework.org/schema/beans   
    http://www.springframework.org/schema/beans/spring-beans.xsd   
    http://www.springframework.org/schema/context
    http://www.springframework.org/schema/context/spring-context.xsd  
    http://www.springframework.org/schema/aop
	http://www.springframework.org/schema/aop/spring-aop.xsd
    http://www.springframework.org/schema/mvc  
    http://www.springframework.org/schema/mvc/spring-mvc.xsd">
	<context:property-placeholder location="classpath:properties/sys.properties" />

	<!-- 自动扫描的包名 -->
	<context:component-scan base-package="com.nbs.jiaxiao.controller,com.nbs.jiaxiao.aspect" />
	<mvc:annotation-driven >
		<mvc:message-converters register-defaults="true">
			<bean id="stringHttpMessageConverter" class="org.springframework.http.converter.StringHttpMessageConverter">
    			<constructor-arg value="UTF-8" index="0"/>
			</bean>
            <bean id="fastJsonHttpMessageConverter" class="com.alibaba.fastjson.support.spring.FastJsonHttpMessageConverter">
                <property name="supportedMediaTypes">
                    <list>
                        <value>application/json;charset=UTF-8</value>
                    </list>
                </property>
            </bean>
        </mvc:message-converters>
	</mvc:annotation-driven>

	<mvc:resources mapping="/**/*.txt" location="/txt/" />
	
	<aop:aspectj-autoproxy/>

	<mvc:interceptors>  
		<mvc:interceptor>
		 	<mvc:mapping path="/**/*"/>
			<mvc:exclude-mapping path="/**/*.txt"/>
			<mvc:exclude-mapping path="/wx"/>
			<bean class="com.nbs.jiaxiao.wx.WxLoginInteceptor"/>
		</mvc:interceptor>
		<mvc:interceptor>
		 	<mvc:mapping path="/**/*"/>
			<mvc:exclude-mapping path="/**/*.txt"/>
			<mvc:exclude-mapping path="/wx"/>
			<bean class="com.nbs.jiaxiao.wx.WxShareInteceptor"/>
		</mvc:interceptor>
		<mvc:interceptor>
		 	<mvc:mapping path="/teacher/**/*"/>
			<bean class="com.nbs.jiaxiao.inteceptor.TeacheInteceptor"/>
		</mvc:interceptor>
	</mvc:interceptors> 

 <!-- 设置freeMarker的配置文件路径 -->  
     <bean id="freemarkerConfiguration" class="org.springframework.beans.factory.config.PropertiesFactoryBean">  
         <property name="location" value="classpath:properties/freemarker.properties"/>  
     </bean>
	<!-- freemarker config -->
	<bean id="freemarkerConfig" class="org.springframework.web.servlet.view.freemarker.FreeMarkerConfigurer">
		<property name="templateLoaderPath" value="/WEB-INF/freemarker/" />
		<property name="freemarkerSettings" ref="freemarkerConfiguration"/>
	</bean>

	<!-- View resolvers can also be configured with ResourceBundles or XML files. If you need different view resolving based on Locale, you have to use the resource bundle resolver. -->
	<bean id="viewResolver" class="org.springframework.web.servlet.view.freemarker.FreeMarkerViewResolver">
		<property name="cache" value="false" />
		<property name="prefix" value="" />
		<property name="suffix" value=".ftl" />
		<property name="contentType" value="text/html; charset=UTF-8" />
	</bean>
	

</beans>   